body {
	text-align: center;
}
.container {
	/*box-sizing: border-box;*/
	/*position: relative;*/
	display: inline-block;
	width: 600px;
	height: 550px;
	margin: 50px;
	padding: 7px;
	border: 1px solid #ccc;
	font-family: Arial, sans-serif;
	overflow: auto;
	text-align: left;
}
.content {
	/*position: relative;*/
	/*width: 100%;*/
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.content__titleBox {
	position: relative;
	/*width: 100%;*/
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #ddd;
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 0px;
}
.titleBox__title {
	display: block;
	/*position: absolute;*/
	/*bottom: 0;*/
	float: left;
	background: linear-gradient(to top,
			rgb(240, 240, 240) 0%, rgb(254, 254, 254)) 25%,
			rgb(240, 240, 240) 75%;
	height: 29px;
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-right: 2px;
	padding: 10px;
	line-height: 27px;
	color: black;
	
}
.titleBox__title:hover {
	cursor: pointer;
	background: #eee;
}
.titleBox__title--active {
	background: rgb(0, 0, 255);
	border-color: rgb(0, 0, 230);
	color: white;
	height: 30px;
}
.titleBox__title--active:hover {
	cursor: default;
	background: rgb(0, 0, 255); 
}
.content__text {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 25px;
	margin-right: 25px;
}
