* {
	box-sizing: border-box;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
	overflow: hidden;
}
@media only screen and (min-width: 320px) {
	.topPart {
		position: relative;
		background: url(../img/mainBG.png) -1040px 0px no-repeat;
		height: 516px;
		border-bottom: 1px solid #35273c;
		text-shadow: 0px 2px 1px grey;
	}
	header {
		padding-top: 70px;
		width: 100%;
	}
	.topPart__wrapper {
		text-align: center;
	}
	.logo {
		display: inline-block;
	}
	.mainMenu {
		position: absolute;
		margin-top: 41px;
		margin-left: 11.5625%;
		width: 76.875%;
		height: 259px;
		font-family: 'league_gothicregular', sans-serif;
		font-size: 18px;
		text-align: center;
		line-height: 42px;
	}
	.mainMenu__link {
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		text-decoration-color: #edbfff;
	}
	.mainMenu__item {
		display: none;
	}
	.mainMenu__item--exp {
		text-decoration: underline;
		text-shadow: 0px 0px 15px white;
		display: block;
	}
	.slider {
		margin-top: 193px;
		padding-left: 27.625%;
	}
	.slider__heading {
		color: white;
		font-size: 27px;
		font-family: 'league_gothicregular', sans-serif;
	}
	.slider__span {
		color: #edbfff;
		text-transform: uppercase;
		font-size: 14px;
		font-family: 'league_gothicregular', sans-serif;
	}
	.slider__form {
		margin-top: 81px;
		margin-left: 18.125%;
	}
	.slider__text {
		font-family: 'Open Sans', sans-serif;
		color: #dbdadc;
		margin-top: 6px;
		line-height: 24px;
		font-size: 12px;
		width: 37.6552%;
		display: none;
		overflow: hidden;
	}
	.upperMiddlePart {
		position: relative;
		background: linear-gradient(to top, #36293d, #745183);
		border-bottom: 1px solid #21333b;
		height: 597px;
		padding-top: 72px;
	}
	.topArticle__icon {
		width: 28px;
		height: 26px;
		background: url(../img/sprite.png) no-repeat;
		background-position: 4px 0px;
		float: left;
		margin-left: 10.3125%;
	}
	.topArticle__icon--second {
		background-position: -26px 0px;
	}
	.topArticle__icon--third {
		background-position: -55px 0px;
	}
	.topArticle {
		position: relative;
		margin-left: 25%;
		margin-bottom: 29px;
		height: 127px;
		color: white;
		width: 65.9375%;
		overflow: hidden;
	}
	.topArticle__heading {
		font-family: 'league_gothicregular', sans-serif;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px black;
	}
	.topArticle__span {
		display: block;
		margin-top: 1px;
		text-shadow: 1px 1px 1px black;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		line-height: 24px;
		overflow: hidden;
		height: 66px;
	}
	.topArticle__link {
		font-family: 'league_gothicregular', sans-serif;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px black;
		float: right;
		margin-top: 23px;
	}
	.topArticle__link:hover {
		text-shadow: 0px 0px 10px white;
	}
	.shadow {
		width: 100%;
		height: 1px;
		background-color: #f9f9f9;
		box-shadow: 0px 4px 5px #c8c8c8;
		margin-bottom: 69px;
	}
	.lowerMiddlePart {
		position: relative;
		border-top: 1px solid #12191f;
		background-color: #f9f9f9; 
		border-bottom: 1px solid #e6e6e6;
	}
	.bottomSlider {
		height: 271px;
		padding-top: 27px;
		padding-left: 35px;
		padding-bottom: 32px;
		margin-left: 13.75%;
		background-color: rgb(255, 255, 255);
		width: 80%;
		overflow: hidden;
		box-shadow: 0 1px 1px #f6f6f6, 0 2px 1px #f6f6f6;
	}
	.bottomSlider__photo {
		position: absolute;
		float: left;
		margin-left: 6.25%;
		margin-top: 18px;
	}
	.bottomSlider__heading {
		color: #454545;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 24px;
		font-family: 'league_gothicregular', sans-serif;
	}
	.bottomSlider__heading--lower {
		color: #edbfff;
		display: block;
		margin-top: 6px;
	}
	.bottomSlider__span {
		display: block;
		margin-left: 2px;
		width: 67.96875%;
		height: 150px;
		line-height: 24px;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		overflow: hidden;
	}
	.imgBox {
		position: relative;
		border-top: 1px solid #fefefe;
		background-color: #f9f9f9;
	}
	.bottomRadio {
		margin-top: 23px;
		margin-left: 43.75%;
	}
	.blog {
		margin-top: 50px;
		height: 261px;
		margin-left: 6.25%;
		width: 87.5%;
		margin-bottom: 91px;
	}
	.blog__mainHeading {
		font-size: 22px;
		color: #454545;
		text-transform: uppercase;
		font-family: 'league_gothicregular', sans-serif;
	}
	.blog__heading {
		margin-top: 21px;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: #454545;
		line-height: 24px;
	}
	.blog__span {
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
	}
	.blog__link {
		margin-top: 20px;
		float: right;
		text-decoration: none;
		font-family: 'league_gothicregular', sans-serif;
		text-transform: uppercase;
		color: #454545;
		font-size: 14px;
		margin-right: 20%;
	}
	.blog_img {
		float: left;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(../img/blog_sprite.png) no-repeat;
		margin-right: 5.625%;
	}
	.blog_img--2 {
		background-position: 0 -49px;
	}
	.blog_img--3 {
		background-position: 0 -98px;
	}
	.imgBox {
		height: 422px;
		border-bottom: 1px solid #fefefe;
	}

	[class*="imgBox__"] {
		position: absolute;
	}
	.imgBox__1 {
		margin-left: 19.375%;
		margin-top: 51px;
	}
	.imgBox__2 {
		margin-top: 51px;
		margin-left: 57.8121%;
	}
	.imgBox__3 {
		margin-top: 176px;
		margin-left: 21.875%;
	}
	.imgBox__4 {
		margin-top: 176px;
		margin-left: 62.5%;
	}
	.imgBox__5 {
		margin-top: 303px;
		margin-left: 13.125%;
	}
	.imgBox__6 {
		margin-left: 62.5%;
		margin-top: 285px;
	}
	.bottomPart__span {
		font-family: 'Open Sans', sans-serif;
		font-size: 9px;
		color: rgba(255, 255, 255, 0.8);
	}
	.bottomPart__span--bold {
		margin-left: 0px;
		font-weight: bold;
		color: rgb(255, 255, 255);
	}
	.bottomPart {
		position: relative;
		text-align: center;
		padding-top: 43px;
		height: 201px;
		background: url(../img/bottomPart.png) no-repeat center;
	}
	.bottomPart__shadow {
		box-shadow: 0 1px 3px #8e8e8e,
					0 4px 6px -15px black,
					0 8px 10px -30px black;
	}
	.slider__img {
		display: none;
	}
	.news {
		display: none;
	}
	.mainMenu--footer {
		display: none;
	}
}

@media only screen and (min-width: 480px) {
	.topPart {
		background-position: -960px 0px;
		height: 548px;
	}
	.mainMenu__item--exp {
		display: block;
	}
	.slider {
		margin-top: 97px;
		padding-left: 8.125%;
		background-color: rgba(0, 0, 0, 0.2);
		height: 246px;
		padding-top: 90px;

	}
	.slider__img {
		width: 184px;
		height: 263px;
		position: absolute;
		display: block;
		top: 194px;
		left: 54.7917%;
		background: url(../img/iphone.png) no-repeat;
	}
	.upperMiddlePart {
		padding-top: 79px;
	}
	.topArticle__icon {
		margin-left: 6.6667%;
	}
	.topArticle {
		margin-left: 17%;
		width: 77.0833%;
	}
	.news {
		position: relative;
		display: block;
		background-color: #ececec;
		padding-top: 81px;
		height: 668px;
	}
	.news__article {
		margin-left: 3.9583%;
		margin-bottom: 64px;
		width: 90.2083%;
		overflow: hidden;
	}
	.news__heading {
		text-transform: uppercase;
		font-family: 'league_gothicregular', sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-shadow: 1px 1px 1px white;
		margin-bottom: 19px;
	}
	.news__span {
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		line-height: 24px;
		text-shadow: 1px 1px 1px white;
		height: 79px;
		overflow: hidden;
		color: #787878;
	}
	.imgBox {
		height: 231px;
	}
	.imgBox__1 {
		margin-left: 17.2917%;
		margin-top: 36px;
	}
	.imgBox__2 {
		margin-left: 43.125%;
		margin-top: 36px;
	}
	.imgBox__3 {
		margin-left: 69.375%;
		margin-top: 36px;
	}
	.imgBox__4 {
		margin-top: 127px;
		margin-left: 14.1667%;
	}
	.imgBox__5 {
		margin-left: 36.6667%;
		margin-top: 148px;
	}
	.imgBox__6 {
		margin-left: 69.7917%;
		margin-top: 128px;
	}
	.bottomSlider {
		margin-left: 9.1667%;
		width: 86.6667%;
		height: 272px;
	}
	.bottomSlider__photo {
		margin-left: 4.1667%;
	}
	.bottomSlider__heading--lower {
		display: inline;
	}
	.bottomSlider__span {
		margin-top: 25px;
		width: 91%;
	}
	.bottomRadio {
		margin-left: 42.7083%;
	}
	.blog {
		margin-left: 17.5%;
		width: 70.2083%;
	}
	.blog__link {
		margin-right: 30%;
	}
}
@media only screen and (min-width: 768px) {
	.topPart {
		background-position: -817px 0px;
		height: 799px;
	}
	.topPart__wrapper {
		text-align: left;
	}
	.logo {
		margin-left: 2.6042%;
	}
	.mainMenu {
		margin-top: 33px;
		margin-left: 2.6042%;
		width: 97.3958%;
	}
	.mainMenu__item {
		display: block;
		float: left;
		margin-right: 6.7708%;
	}
	.mainMenu__item--exp {
		text-shadow: 0px 2px 1px grey;
	}
	.slider {
		margin-top: 135px;
		padding-top: 114px;
		padding-left: 5.8594%;
		height: 400px;
	}
	.slider__heading {
		font-size: 36px;
		margin-bottom: 12px;
	}
	.slider__span {
		font-size: 18px;
		line-height: 24px;
	}
	.slider__text {
		display: block;
		font-size: 12px;
		height: 94px;
	}
	.slider__img {
		width: 263px;
		height: 376px;
		position: absolute;
		display: block;
		top: 221px;
		left: 59.1146%;
		background: url(../img/iphone_large.png) no-repeat;
	}
	.upperMiddlePart {
		height: 341px;
	}
	.topArticle {
		position: absolute;
		margin-left: 10.6771%;
		width: 19.4010%;
		height: 195px;
	}
	.topArticle__heading {
		font-size: 18px;
	}
	.topArticle__span {
		font-size: 12px;
		height: 124px;
	}
	.topArticle--second {
		position: absolute;
		margin-left: 43.3594%;
	}
	.topArticle--third {
		position: absolute;
		margin-left: 77.3438%;
	}
	.topArticle__link {
		margin-top: 6px;
	}
	.topArticle__icon {
		position: absolute;
		margin-left: 4.1667%;
	}
	.topArticle__icon--second {
		position: absolute;
		margin-left: 36.9792%;
	}
	.topArticle__icon--third {
		position: absolute;
		margin-left: 70.8333%;
	}
	.lowerMiddlePart {
		height: 487px;
	}
	.shadow {
		margin-bottom: 100px;
	}
	.bottomSlider {
		margin-left: 5.5990%;
		width: 40.7552%;
		float: left;
		height: 272px;
	}
	.blog {
		width: 42.5781%;
		margin-left: 54.0365%;
	}
	.blog__link {
		margin-right: 20%;
	}
	.imgBox {
		height: 120px;
	}
	.imgBox__1 {
		margin-top: 25px;
		margin-left: 2.8646%;
	}
	.imgBox__2 {
		margin-top: 25px;
		margin-left: 19.0104%;
	}
	.imgBox__3 {
		margin-top: 25px;
		margin-left: 35.4167%;
	}
	.imgBox__4 {
		margin-top: 27px;
		margin-left: 52.3438%;
	}
	.imgBox__5 {
		margin-top: 47px;
		margin-left: 66.4063%;
	}
	.imgBox__6 {
		margin-top: 27px;
		margin-left: 87.1094%;
	}
	.news {
		height: 396px;
		padding-top: 103px;
	}
	.news__article {
		margin-left: 2.6042%;
		width: 26.5625%;
		position: absolute;
	}
	.news__article--second {
		margin-left: 37.2396%;
	}
	.news__article--third {
		margin-left: 71.4844%;
	}
	.news__heading {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.news__span {
		height: 161px;
	}
	.bottomPart {
		padding-top: 48px;
		height: 201px;
	}
	.mainMenu--footer {
		height: 30px;
		display: block;
		margin-top: 0;
		margin-left: 2.9948%;
	}
	.mainMenu__item--footer {
		text-decoration: none;
		margin-right: 6%;
		font-size: 15px;
		text-shadow: 1px 2px 1px #59595e;
	}
	.bottomPart__span {
		margin-top: 56px;
		display: inline-block;
		color: #e0e0e1;
		text-shadow: 0px 2px 1px grey;
		font-size: 9px;
	}
	.bottomSlider__photo {
		margin-left: 2.3438%;
	}
	.bottomSlider__heading--lower {
		display: block;
		margin-top: 0px;
	}
	.bottomSlider__span {
		margin-top: 8px;
	}
}
@media only screen and (min-width: 960px) {
	.topPart {
		background-position: -720px 0px;
	}
	.topPart__wrapper {
		float: left;
	}
	.logo {
		margin-left: 0;
	}
	.mainMenu {
		margin: 0;	
	}
	.mainMenu__item--exp {
		margin-left: 34.0625%;
	}
	.mainMenu__item {
		margin-right: 5.4167%;
	}
	.mainMenu__item--last {
		margin-right: 0;
	}
	.slider {
		margin-top: 208px;
		padding-left: 0px;
	}
	.slider__heading {
		margin-left: 0;
	}
	.slider__img {
		left: 64.7917%;
		top: 261px;
	}
	.slider__text {
		width: 52.2917%;
		font-size: 13px;
		height: 133px;
	}
	.topArticle {
		margin-left: 6.5625%;
		width: 23.2292%;
	}
	.topArticle--second {
		margin-left: 41.2708%;
	}
	.topArticle--third {
		margin-left: 75.875%;
	}
	.topArticle__span {
		margin-top: 8px;
	}
	.topArticle__icon {
		margin-left: 1.25%;
	}
	.topArticle__icon--second {
		margin-left: 35.75%;
	}
	.topArticle__icon--third {
		margin-left: 70.5625%;
	}
	.bottomSlider {
		margin-left: 2.3958%;
		width: 44.4792%;
	}
	.blog {
		margin-left: 58.125%;
	}
	.blog__link {
		margin-right: 20%;
	}
	.bottomPart {
		overflow: hidden;
		height: 114px;
		padding-top: 38px;
	}
	.mainMenu--footer {
		margin-left: 0;
	}
	footer .mainMenu__item--exp {
		margin-left: 0px;
	}
	.bottomPart__span {
		font-size: 10px;
		margin-top: 18px;
		margin-left: 85.7292%;
	}
	.bottomPart__span--bold {
		margin-left: 0;
	}
	.bottomSlider__photo {
		margin-left: 0;
	}
}
@media only screen and (min-width: 1024px) {
	body {
		text-align: center;
		background-color: #d4cbc3;
	}
	.container {
		width: 1024px;
		display: inline-block;
		text-align: left;
	}
}