* {
	box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
	.topPart {
		background: url(../img/mainBG.png) -1040px 0px no-repeat;
		height: 516px;
		border-bottom: 1px solid #35273c;

	}
	header {
		padding-top: 70px;
		width: 100%;
	}
	.topPart__wrapper {

		/*margin-top: 70px;*/
		text-align: center;
	}
	.logo {
		display: inline-block;

		/*position: relative;*/
		/*margin-left: 26.5625%;*/
	}
	.mainMenu {
		position: absolute;
		margin-top: 41px;
		margin-left: 11.5625%;
		width: 76.875%;
		height: 259px;
		font-family: LeagueGothic, sans-serif;
		font-size: 18px;
		text-align: center;
		line-height: 42px;
	}
	.mainMenu__link {
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		text-decoration-color: #edbfff;
	}
	.mainMenu__item {
		display: none;
	}
	.mainMenu__item--exp {
		text-decoration: underline;
		text-shadow: 0px 0px 15px white;
	}
	.slider {
		margin-top: 193px;
		padding-left: 20.625%;
	}
	.slider__heading {
		color: white;
		font-size: 27px;
	}
	.slider__span {
		color: #edbfff;
		text-transform: uppercase;
		font-size: 14px;
	}
	.slider__form {
		margin-top: 81px;
		margin-left: 18.125%;
	}
	.upperMiddlePart {
		background: linear-gradient(to top, #36293d, #745183);
		border-bottom: 1px solid #21333b;
		height: 597px;
		padding-top: 72px;
	}
	.topArticle__icon {
		width: 28px;
		height: 26px;
		background: url(../img/sprite.png) no-repeat;
		background-position: 4px 0px;
		float: left;
		margin-left: 10.3125%;
	}
	.topArticle__icon--second {
		background-position: -26px 0px;
	}
	.topArticle__icon--third {
		background-position: -55px 0px;
	}
	.topArticle {
		position: relative;
		margin-left: 25%;
		margin-bottom: 29px;
		height: 127px;
		color: white;
		width: 65.9375%;
		overflow: hidden;
	}
	.topArticle__heading {
		font-family: LeagueGothic, sans-serif;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px black;
	}
	.topArticle__span {
		display: block;
		margin-top: 1px;
		text-shadow: 1px 1px 1px black;
		font-family: OpenSans, sans-serif;
		font-size: 12px;
		line-height: 24px;
		overflow: hidden;
		height: 66px;
	}
	.topArticle__link {
		font-family: LeagueGothic, sans-serif;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px black;
		float: right;
		margin-top: 23px;
	}
	.topArticle__link:hover {
		text-shadow: 0px 0px 10px white;
	}
	.shadow {
		width: 100%;
		height: 1px;
		background-color: #f9f9f9;
		box-shadow: 0px 4px 5px #c8c8c8;
		margin-bottom: 69px;
	}
	.lowerMiddlePart {
		border-top: 1px solid #12191f;
		background-color: #f9f9f9; 
		border-bottom: 1px solid #e6e6e6;
	}
	.bottomSlider {
		height: 271px;
		padding-top: 27px;
		padding-left: 35px;
		padding-bottom: 32px;
		margin-left: 13.75%;
		background-color: rgb(255, 255, 255);
		width: 80%;
		overflow: hidden;
		box-shadow: 0 1px 1px #f6f6f6, 0 2px 1px #f6f6f6;
	}
	.bottomSlider__photo {
		position: absolute;
		float: left;
		margin-left: 6.25%;
		margin-top: 18px;
	}
	.bottomSlider__heading {
		color: #454545;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 24px;
		font-family: LeagueGothic, sans-serif;
	}
	.bottomSlider__heading--lower {
		color: #edbfff;
		display: block;
		margin-top: 6px;
	}
	.bottomSlider__span {
		display: block;
		margin-left: 2px;
		width: 67.96875%;
		height: 150px;
		line-height: 24px;
		font-size: 12px;
		font-family: OpenSans, sans-serif;
		overflow: hidden;
	}
	.imgBox {
		border-top: 1px solid #fefefe;
		background-color: #f9f9f9;
	}
	.bottomRadio {
		margin-top: 23px;
		margin-left: 43.75%;
	}
	.blog {
		margin-top: 50px;
		height: 261px;
		margin-left: 6.25%;
		width: 87.5%;
		margin-bottom: 91px;
	}
	.blog__mainHeading {
		font-size: 22px;
		color: #454545;
		text-transform: uppercase;
		font-family: LeagueGothic, sans-serif;
	}
	.blog__heading {
		margin-top: 21px;
		font-size: 12px;
		font-family: OpenSans, sans-serif;
		font-weight: bold;
		color: #454545;
		line-height: 24px;
	}
	.blog__span {
		font-size: 12px;
		font-family: OpenSans, sans-serif;
		line-height: 24px;
	}
	.blog__link {
		margin-top: 20px;
		float: right;
		text-decoration: none;
		font-family: LeagueGothic, sans-serif;
		text-transform: uppercase;
		color: #454545;
		font-size: 14px;
	}
	.blog_img {
		float: left;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(../img/blog_sprite.png) no-repeat;
		margin-right: 5.625%;
	}
	.blog_img--2 {
		background-position: 0 -49px;
	}
	.blog_img--3 {
		background-position: 0 -98px;
	}
	.imgBox {
		/*width: 87.5%;*/
		height: 422px;
		border-bottom: 1px solid #fefefe;
	}
/*	.imgBox__img {
		width: 69px;
		height: 64px;
		margin-top: 51px;
		margin-left: 19.375%;
	}*/
	[class*="imgBox__"] {
		position: absolute;
	}
	.imgBox__1 {
		margin-left: 19.375%;
		margin-top: 51px;
	}
	.imgBox__2 {
		margin-top: 51px;
		margin-left: 57.8121%;
	}
	.imgBox__3 {
		margin-top: 176px;
		margin-left: 21.875%;
	}
	.imgBox__4 {
		margin-top: 176px;
		margin-left: 62.5%;
	}
	.imgBox__5 {
		margin-top: 303px;
		margin-left: 13.125%;
	}
	.imgBox__6 {
		margin-left: 62.5%;
		margin-top: 285px;
	}
	.bottomPart__span {
		/*margin-left: 28.75%;*/
		font-family: OpenSans, sans-serif;
		font-size: 9px;
		color: rgba(255, 255, 255, 0.8);
	}
	.bottomPart__span--bold {
		margin-left: 0px;
		font-weight: bold;
		color: rgb(255, 255, 255);
	}
	.bottomPart {
		text-align: center;
		padding-top: 43px;
		height: 201px;
		background: url(../img/bottomPart.png) no-repeat center;
	}
	.bottomPart__shadow {
		box-shadow: 0 1px 3px #8e8e8e,
					0 4px 6px -15px black,
					0 8px 10px -30px black;
	}
	.slider__img {
		display: none;
	}
	.prebottomPart {
		display: none;
	}
}

.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 24px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  /*border: 1px solid #CDD1DA;*/
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
/*.radio:not(checked) + label:after {
  
}*/
.radio:checked + label:after {
	content: '';
  position: absolute;
  top: -1px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: linear-gradient(to top, #e9e9e9, #fefefe);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
  opacity: 1;
}
.radio--bottom:not(checked) + label {
	padding: 0 0 0 25px;
}
.radio--bottom:not(checked) + label:before {
	width: 19px;
	height: 19px;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	/*border-radius: 50%;*/
}
.radio--bottom:checked + label:after {
	top: 0px;
	width: 13px;
	height: 13px;
	background: linear-gradient(to top, #464646, #656565);
	border: 1px solid #494949;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.5);

}

@media only screen and (min-width: 480px) {
	.topPart {
		background-position: -960px 0px;
		height: 548px;
	}
	.slider {
		margin-top: 97px;
		padding-left: 8.125%;
		background-color: rgba(0, 0, 0, 0.2);
		height: 246px;
		padding-top: 90px;

	}
	.slider__img {
		position: absolute;
		display: block;
		top: 194px;
		left: 54.7917%;
	}
	.slider__form {
		margin-left: 36.7347%;
	}
	.slider__form {
		margin-top: 145px;
	}
	.upperMiddlePart {
		padding-top: 79px;
	}
	.topArticle__icon {
		margin-left: 6.6667%;
	}
	.topArticle {
		margin-left: 17%;
		width: 77.0833%;
	}
	.prebottomPart {
		display: block;
		background-color: #ececec;
		padding-top: 81px;
		height: 668px;
	}
	.prebottomPart__article {
		margin-left: 3.9583%;
		margin-bottom: 64px;
		width: 90.2083%;
		overflow: hidden;
	}
	.prebottomPart__heading {
		text-transform: uppercase;
		font-family: LeagueGothic, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-shadow: 1px 1px 1px white;
		margin-bottom: 19px;
	}
	.prebottom__span {
		font-family: LeagueGothic, sans-serif;
		font-size: 12px;
		line-height: 24px;
		text-shadow: 1px 1px 1px white;
		height: 79px;
		overflow: hidden;
	}
	.imgBox {
		height: 231px;
	}
	.imgBox__1 {
		margin-left: 17.2917%;
		margin-top: 36px;
	}
	.imgBox__2 {
		margin-left: 43.125%;
		margin-top: 36px;
	}
	.imgBox__3 {
		margin-left: 69.375%;
		margin-top: 36px;
	}
	.imgBox__4 {
		margin-top: 127px;
		margin-left: 14.1667%;
	}
	.imgBox__5 {
		margin-left: 36.6667%;
		margin-top: 148px;
	}
	.imgBox__6 {
		margin-left: 69.7917%;
		margin-top: 128px;
	}
	.bottomSlider {
		margin-left: 9.1667%;
		width: 86.6667%;
		height: 272px;
	}
	.bottomSlider__photo {
		margin-left: 4.1667%;
	}
	.bottomSlider__heading--lower {
		display: inline;
	}
	.bottomSlider__span {
		margin-top: 25px;
		width: 91%;
	}
	.bottomRadio {
		margin-left: 42.7083%;
	}
	.blog {
		margin-left: 17.5%;
		width: 70.2083%;
	}
}